<div class="contacts-container d-none">

    <div class="title-container">
        <h2>HOME</h2>
    </div>

    <!-- <div class="error-message-container">
        <p class="error-message contacts d-none"></p>
    </div> -->

    <div class="contacts-window">
        <div class="view-all-btn">
            <span class="d-none">X</span>
        </div>
    </div>
    <div class="contacts-form-container">
        <form class="form contacts-form">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Keyword" />
                <button type="button" pButton label="Search"></button>
            </p-inputGroup>
        </form>
    </div>


</div>