<div class="contacts-container d-flex flex-column justify-between">

    <div class="contacts-info">
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>

        <div class="contacts">
            @for(chat of userChats; track chat.chatId) {
            <app-contacts-card [chat]="chat" (deletedContactChatEmitter)="deleteContact($event)"
                (updatedContactChatEmitter)="updateContactChat($event)" [showEditBtn]="true"></app-contacts-card>
            }
        </div>
    </div>

    <div class="add-contact">
        <app-add-contact (errorEmitter)="notifyErrors($event)"
            (createContactEmitter)="addContactChat($event)"></app-add-contact>
    </div>

</div>