.wrapper {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, #add8e6, #87ceeb, #6495ed);
}

.program-container { 
    min-width: 40%; 
    max-width: 600px; 
    position: relative; 
    background-color: rgba(173, 216, 230, 0.8); 
    padding: 1.5rem; 
    box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.5); 
}