<div class="chat-container d-flex flex-column">

    <p-messages [(value)]="alertMessages" [enableService]="false" [closable]="false"></p-messages>

    <div class="messages mb-1" #messagesBox>
        @for(message of messages; track message.messageId) {
        <app-message [message]="message" [sentByOwner]="isSentByUser(message)"></app-message>
        }
    </div>
    <div class="write-box">
        <app-send-message [chat]="chat" (errorEmitter)="notifyMessageError($event)"></app-send-message>
    </div>
</div>