.message {
    min-width: 25%;
    max-width: 75%;
}

.user-message {
    margin-right: 1rem;
    background-color: var(--light-blue);
    margin-left: auto;
}

.contact-message {
    background-color: #cfcfcf;
    margin-right: auto;
}