<app-contact-dialog [(contactData)]="contact" [(visible)]="visible" [header]="header"></app-contact-dialog>

<p-menubar>
    <ng-template pTemplate="end">
        <p-inputGroup class="input-group">

            <!-- @if (submitted && cf['contactName'].errors) {
            <div class="text-left mb-05">
                @if (cf['phoneNumber'].errors['required']) {
                <small class="p-error">Phone Number is required</small>
                }
                @if (cf['phoneNumber'].errors['pattern']) {
                <small class="p-error">Invalid Phone Number</small>
                }
            </div>
            } -->
            <input pInputText placeholder="Phone Number" [(ngModel)]="phoneNumber" />
            <button type="button" pButton icon="pi pi-search" (click)="searchUser()"></button>
        </p-inputGroup>
    </ng-template>
</p-menubar>