<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="w-75 m-auto mb-1">

  <div class="mb-1">
    @if (submitted && lf['phoneNumber'].errors) {
    <div class="text-left mb-05">
      @if (lf['phoneNumber'].errors['required']) {
      <small class="p-error">Phone Number is required</small>
      }
      @if (lf['phoneNumber'].errors['pattern']) {
      <small class="p-error">Invalid Phone Number</small>
      }
    </div>
    }
    <input type="text" pInputText formControlName="phoneNumber" placeholder="Phone Number" class="w-100">
  </div>

  <div class="mb-1">
    @if (submitted && lf['password'].errors) {
    <div class="text-left mb-05">
      @if (lf['password'].errors['required']) {
      <small class="p-error">Password is required</small>
      }
    </div>
    }
    <input type="password" pInputText formControlName="password" placeholder="Password" class="w-100">
  </div>

  <div>
    <button pButton type="submit" label="Submit" class="w-100"></button>
  </div>
</form>