.contact {
    cursor: pointer;
}

.contact-icon i {
    color: var(--dark-blue);
    font-weight: 500;
    font-size: 2rem;
}

.contact-info {
    flex: 1;
}

.contact-info p {
    color: var(--dark-blue);
    font-weight: 600;
    margin: 0;
}