@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    --lighter-blue: #add8e6;  
    --light-blue: #87ceeb;
    --dark-blue: #6495ed;
}

*,
*::after,
*::before {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    color: #6495ed;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.full-center {
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border {
    border: 1px solid var(--light-blue);
}

.border-radius {
    border-radius: .5rem;       
}

.bg-primary {
    background-color: var(--dark-blue);
}

.bg-white {
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-1 {
    margin-bottom: 1rem;
}

.submit-btn {
    padding: .75rem;
    background-color: #87ceeb;
    color: #fff;
    border: 1px solid #87ceeb;
    border-radius: .25rem;
    outline: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #87ceebDD;
}

input[type="submit"]:active {
    background-color: #87ceeb;
}