:root {
    --lighter-blue: #add8e6;  
    --light-blue: #87ceeb;
    --dark-blue: #6495ed;
}

*,
*::after,
*::before {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

a {
    color: #6495ed;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.full-center {
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border {
    border: 1px solid var(--light-blue);
}

.border-radius {
    border-radius: .5rem;       
}

.bg-primary {
    background-color: var(--dark-blue);
}

.bg-white {
    background-color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}